[Unit]
Description=EFI Measured Boot - initial TPM seal
After=sysinit.target local-fs.target
ConditionPathExists=/etc/efi-measured-boot/pending-seal

[Service]
Type=oneshot
ExecStart=/usr/share/efi-measured-boot/emboot-firstboot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
