#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd pcr-oracle && ./configure --prefix=/usr && $(MAKE)

override_dh_auto_install:
	$(MAKE) -C pcr-oracle install DESTDIR=$(CURDIR)/debian/efi-measured-boot
	mkdir -p $(CURDIR)/debian/efi-measured-boot/usr/share/efi-measured-boot
	mv $(CURDIR)/debian/efi-measured-boot/usr/bin/pcr-oracle \
	   $(CURDIR)/debian/efi-measured-boot/usr/share/efi-measured-boot/pcr-oracle
	-rmdir $(CURDIR)/debian/efi-measured-boot/usr/bin

override_dh_auto_test:

override_dh_auto_clean:
	[ ! -f pcr-oracle/Makefile ] || $(MAKE) -C pcr-oracle clean
